<div id="banner">
    <img class = "img-banner-fluid" src="static/global/images/banner.webp" alt="Banner">
    <div id="overlay-banner"></div>
    <a id="agendar" class="d-flex align-items-center justify-content-center gap-2 px-4 py-3" 
href="https://api.whatsapp.com/send/?phone=5521987482122&text&type=phone_number&app_absent=0" target="_blank">
<p class="m-0">QUERO AGENDAR UM HORÁRIO</p>
<img src="static/global/icons/icons8-whatsapp.svg" alt="WhatsApp" class="whatsapp-icon">
</a>
</div>

<div id="overlay"></div>