<section class="fruit-carousel">
    <nav class="fruit-menu">
        <ul class="fruit-list">
            <li class="fruit-item active" data-fruit="strawberry"> Manicure</li>
            <li class="fruit-item" data-fruit="banana"> Podologia</li>
            <li class="fruit-item" data-fruit="apple"> Cabelo</li>
            <li class="fruit-item" data-fruit="orange"> Sobrancelha</li>
        </ul>
    </nav>

    <article class="fruit-content">
        <!-- Conteúdo do Morango -->
        <div class="content-panel active" id="strawberry">
            <div class="fruit-card">
                <div class="fruit-icon"> <img src="" alt="" style="width:150px"></div>
                <h2>Manicure</h2>
                <p class="fruit-description">
                    Embellize suas mãos com nossas opções de esmaltação e cuidados. Oferecemos desde o tradicional até os designs mais modernos, sempre com atenção à saúde e higiene das suas unhas.
                </p>
            </div>
        </div>

        <!-- Conteúdo da Banana -->
        <div class="content-panel" id="banana">
            <div class="fruit-card">
                <div class="fruit-icon"><img src="" alt="" style="width:150px"></div>
                <h2>Podologia</h2>
                <p class="fruit-description">
                    Cuidado especializado para seus pés, tratando calos, unhas encravadas, rachaduras e outros problemas. Proporcionamos alívio e bem-estar com técnicas que promovem a saúde dos seus pés.
                </p>
            </div>
        </div>

        <!-- Conteúdo da Maçã -->
        <div class="content-panel" id="apple">
            <div class="fruit-card">
                <div class="fruit-icon"><img src="" alt="" style="width:150px"></div>
                <h2>Cabelo</h2>
                <p class="fruit-description">
                    Transforme seu visual com um corte, coloração ou tratamento capilar especializado. Nossos profissionais cuidam de cada detalhe para que você tenha fios saudáveis e com a aparência que sempre sonhou.
                </p>
            </div>
        </div>

        <!-- Conteúdo da Laranja -->
        <div class="content-panel" id="orange">
            <div class="fruit-card">
                <div class="fruit-icon"><img src="" alt="" style="width:150px"></div>
                <h2>Sobrancelha</h2>
                <p class="fruit-description">
                    Modelagem e design de sobrancelhas para destacar seu olhar e realçar sua expressão. Feito de acordo com o formato do seu rosto para um efeito harmonioso e natural.
                </p>
            </div>
        </div>
    </article>
</section>