<div class="flex items-center gap-1 justify-center mt-4"> <!-- Container pai -->
    <img class="w-16 h-auto mb-2" src="/static/global/icons/icone-servicos.svg" alt="">
    <h1 class="titulo-insta text-5xl font-bold">Serviços</h1>
</div>
<section class="fruit-carousel">
    <nav class="fruit-menu">
        <ul class="fruit-list">
            <li class="fruit-item active font-semibold" data-fruit="strawberry">
                <img src="/static/global/icons/Esmalte ícone-Photoroom 2.svg/" class="menu-icon">
                Manicure
            </li>
            <li class="fruit-item font-semibold" data-fruit="banana">
                <img src="/static/global/icons/guilhermemaluco-Photoroom (2) 1.svg /" class="menu-icon">
                Podologia
            </li>
            <li class="fruit-item font-semibold" data-fruit="apple">
                <img src="/static/global/icons/cabelo ícone 4.svg/" class="menu-icon">
                Cabelo
            </li>
            <li class="fruit-item font-semibold" data-fruit="orange">
                <img src="/static/global/icons/sombrancelha ícone 1.svg/" class="menu-icon">
                Sobrancelha
            </li>
        </ul>
    </nav>

    <article class="fruit-content">
        <!-- Conteúdo do Morango -->
        <div class="content-panel active" id="strawberry">
            <div class="fruit-card">
                <div class="fruit-icon flex justify-center"> <img src="/static/global/icons/Esmalte ícone-Photoroom 2.svg/" alt="" style="width:250px"></div>
                <h2 class="flex justify-center font-bold mb-2">Manicure</h2>
                <p class="fruit-description flex text-center">
                    Embellize suas mãos com nossas opções de esmaltação e cuidados. Oferecemos desde o tradicional até os designs mais modernos, sempre com atenção à saúde e higiene das suas unhas.
                </p>
            </div>
        </div>

        <!-- Conteúdo da Banana -->
        <div class="content-panel" id="banana">
            <div class="fruit-card">
                <div class="fruit-icon flex justify-center"><img src="/static/global/icons/guilhermemaluco-Photoroom (2) 1.svg /" alt="" style="width:250px ; height:200px"></div>
                <h2 class="flex justify-center font-bold mb-2">Podologia</h2>
                <p class="fruit-description flex text-center">
                    Cuidado especializado para seus pés, tratando calos, unhas encravadas, rachaduras e outros problemas. Proporcionamos alívio e bem-estar com técnicas que promovem a saúde dos seus pés.
            </div>
        </div>

        <!-- Conteúdo da Maçã -->
        <div class="content-panel" id="apple">
            <div class="fruit-card">
                <div class="fruit-icon flex justify-center"><img src="/static/global/icons/cabelo ícone 4.svg/" alt="" style="width:250px"></div>
                <h2 class="flex justify-center font-bold mb-2" >Cabelo</h2>
                <p class="fruit-description flex text-center">
                    Transforme seu visual com um corte, coloração ou tratamento capilar especializado. Nossos profissionais cuidam de cada detalhe para que você tenha fios saudáveis e com a aparência que sempre sonhou.
                </p>
            </div>
        </div>

        <!-- Conteúdo da Laranja -->
        <div class="content-panel" id="orange">
            <div class="fruit-card">
                <div class="fruit-icon flex justify-center"><img src="/static/global/icons/sombrancelha ícone 1.svg/" alt="" style="width:250px"></div>
                <h2 class="flex justify-center font-bold mb-2">Sobrancelha</h2>
                <p class="fruit-description flex text-center">
                    Modelagem e design de sobrancelhas para destacar seu olhar e realçar sua expressão. Feito de acordo com o formato do seu rosto para um efeito harmonioso e natural.
                </p>
            </div>
        </div>
    </article>
</section>