<footer class="main-footer">
        
    <img src="static/global/images/left footer.webp" class="footer-decoration left" alt="decoração esquerda">


    <img src="static/global/images/right footer.webp" class="footer-decoration right" alt="decoração direita">


<div class="footer-container">
   
    <div class="footer-section left-section">

        
        <img src="static/global/images/logo-branca.webp" class="footer-logo" alt="Logo do Estúdio">
        <div class="social-icons">
            <a href="https://www.instagram.com/estudiorenatacampos/" class="social-link" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://api.whatsapp.com/send/?phone=5521987482122&text&type=phone_number&app_absent=0" class="social-link" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>

    <!-- Seção Central -->
    <div class="footer-section center-section">
        <h3 class="section-title"><span class="pink-accent"></span>Contato</h3>
        <ul class="contact-list">
            <li>
                <img src="static/global/icons/phone.icon.svg" class="contact-list-icons" alt="">
                (21) 98748-2122
            </li>
            <li>
                <img src="static/global/icons/email-icon.svg" class="contact-list-icons" alt="">
                rrrvirginio@gmail.com
            </li>
            <li>
                <img src="static/global/icons/local-icon-branco.svg" class="contact-list-icons" alt="">
                R: Almirante Tamandaré - 281
            </li>
        </ul>
    </div>

    <!-- Seção Direita -->
    <div class="footer-section right-section">
        <h3 class="section-title"> <span class="pink-accent"></span>Horário</h3>
        <ul class="hours-list">
            <li>Segunda a Sexta: 08:00 às 18:00</li>
            <li>Sábado: 08:00 às 15:30</li>
            <li>Feriados: Apenas com agendamento</li>
        </ul>
    </div>
</div>
</footer>