<nav id="barra_nav">
    <img src="static/global/images/estudio_renata_campos-removebg-preview (1).png" alt="Logo" class="logo">
    
    <div id="set-menu" class="set-menu">
       
        <div class="circles-container">
            <span class="circle"></span>
            <span class="circle"></span>
            <span class="circle"></span>
        </div>
        
        <div class="menu-bar">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>