<section class="container-fluid bg-black">
  <div class="footer-section center-section h-28 flex items-center ml-96 pl-20 gap-6">
    
    <h3 class="section-title text-white mt-4 mb-0 max-w-4xl">
      <span class="pink-accent"></span>Newsletter
    </h3>

    <form action="#" method="post" class="w-full ml-10 mt-2">
      <label for="text" class="sr-only">E-mail</label>
    
      <div class="flex">
        <input 
          type="email" 
          id="email" 
          name="email" 
          required 
          placeholder="Seu e-mail" 
          class="rounded-l-xl p-2 border-2 border-gray-300 w-2/5 outline-none"
        />
        
        <button 
          class="maluco bg-gray-100 hover:text-white hover:font-semibold font-semibold px-4 py-2 rounded-r-xl transition-colors duration-200"
        > 
          Enviar
        </button>
      </div>

      
    </form>
    

  </div>
  <hr class="text-white w-1/2 mx-auto border-t border-white">
</section>
