<aside id="sidebar" >
    <nav class="sidebar-nav">
    <a href="/" class="sidebar-image-link">
        <img src="static/global/images/logo-padrao.webp" alt="Página Inicial" class="sidebar-image">
    </a>
        <ul>    
            
<li>
<a href="pagina-de-servicos.html">
    <span class="list-icon"><img src="static/global/icons/servicos_icon.svg" alt=""></span>
    Serviços
</a>
</li>
<li>
<a href="#sobre-nos">
    <span class="list-icon"><img src="static/global/icons/sobre_nos_icon.svg" alt=""></span>
    Sobre Nós
</a>
</li>
<li>
<a href="#onde-estamos">
    <span class="list-icon"><img src="static/global/icons/localizacao_icon.svg" alt=""></span>
    Onde Estamos
</a>
</li>
<li>
<a href="#acompanhe-nos">
    <span class="list-icon"><img src="static/global/icons/acompanhe_nos_icon.svg" alt=""></span>
    Acompanhe-nos
</a>
</li>
        </ul>
    </nav>
</aside>