.container-fluid {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    --bs-gutter-x: none;
}

#barra_nav {
    background-color: white;
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}

.logo {
    height: 240px;
    width: 400px;
    margin: 0 auto;
    right: 530px;
    padding-top: 15px;
}

.set-menu {
    display: flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    cursor: pointer;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.bar {
    width: 35px;
    height: 6px;
    background: #000;
    border-radius: 4px;
}

.circle {
    width: 8px;
    height: 8px;
    background: #000;
    border-radius: 50%;
}

.circles-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#banner {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.img-fluid{
    width: 100%;
    object-fit: cover;
    position: relative;
    height: 46.5vw;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 46.5vw;
}

#agendar p {
    font-size: 15px;
    position: relative;
    right: 10px;
    bottom: 23px;
}

#agendar {
    position: absolute;
    z-index: 3;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: bolder;
    height: 0;
    width: 300px;
}
